
@media only screen and (max-width: 760px){
    .user-register{
        display: none;
    }
    .admin-login{
        display: none;
    }
}
@media only screen and (max-width: 767px){
    .page-header{
        padding-top: 6rem;
        padding-bottom: 3%;
    }
    .stat{
        max-width: 45%;
        box-shadow: none;
    }

    .stat h6{
        font-size: 75%;
    }

    .parent{
        flex-direction: column;
    }

    .child{
        width: 100%;
    }

    .bank-pills{
        order: 1;
        margin-bottom: 5px;
    }

    .dashboard-pills{
        order: 2;
    }
   .dashboard-title h5{
    margin-bottom: 0rem !important;
   }
    
}
